
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}
body{
line-height:1.6;
background-color:orange;
}
header{
background:#222;
color:orange;
padding:15px;

}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}
.nav-links{
list-style:none;
display:flex;
}
.nav-links li{
margin-left:20px;
}
.nav-links a{
color:orange;
text-decoration:none;
}
.menu{
display:none;
font-size:25px;
cursor:pointer;
}
.hero{
height:90vh;
background:#4c7cff;
color:orange;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background-color:black;
}
.btn{
margin-top:20px;
background:orange;
color:white;
padding:10px 20px;
text-decoration:none;
}
section{
padding:60px;
text-align:center;
}
.profile{
width:150px;
border-radius:50%;
margin:20px;
}
.skill{
width:60%;
margin:20px auto;
text-align:left;
}
.skill-bar{
background:#ddd;
height:10px;
}
.skill-fill{
display:block;
width:0;
height:10px;
background:#4c7cff;
}


